www.opengamebuilder.com {
    redir https://opengamebuilder.com{uri} permanent
}

opengamebuilder.com {
    encode zstd gzip
    
    handle /health {
        respond "ok production" 200
    }

    handle /api/* {
        reverse_proxy api-production:8080
    }

    handle {
        root * /srv/opengamebuilder/production/web
        try_files {path} /index.html
        file_server {
            precompressed br gzip
        }
    }
}

staging.opengamebuilder.com {
    encode zstd gzip

    handle /health {
        respond "ok staging" 200
    }

    handle /api/* {
        reverse_proxy api-staging:8080
    }

    handle {
        root * /srv/opengamebuilder/staging/web
        try_files {path} /index.html
        file_server {
            precompressed br gzip
        }
    }
}
